
ClickMeApi/bin/Debug/net8.0/ClickMeApi.dll
ClickMeApi/bin/Debug/net8.0/ClickMeApi.dll
/ClickMeApi/bin/Debug/net8.0
/ClickMeApi/obj/Debug/net8.0
ClickMeApi/bin/Debug/net8.0/ClickMeApi.dll
ClickMeApi/bin/Debug/net8.0/ClickMeApi.exe
ClickMeApi/bin/Debug/net8.0/ClickMeApi.pdb
ClickMeApi/obj/Debug/net8.0/ClickMeApi.AssemblyInfo.cs
ClickMeApi/obj/Debug/net8.0/ClickMeApi.AssemblyInfo.cs
ClickMeApi/obj/Debug/net8.0/ClickMeApi.AssemblyInfo.cs
