/ClickMeApi/obj/Debug/net8.0
ClickMeApi/bin/Debug/net8.0/ClickMeApi.exe
ClickMeApi/bin/Debug/net8.0/ClickMeApi.pdb
ClickMeApi/obj/Debug/net8.0/ClickMeApi.AssemblyInfo.cs
ClickMeApi/obj/Debug/net8.0/apphost.exe
ClickMeApi/obj/Debug/net8.0/ClickMeApi.sourcelink.json
ClickMeApi/obj/Debug/net8.0/ref/ClickMeApi.dll
ClickMeApi/obj/Debug/net8.0/ClickMeApi.AssemblyInfoInputs.cache
ClickMeApi/obj/Debug/net8.0/ClickMeApi.dll
ClickMeApi/obj/Debug/net8.0/refint/ClickMeApi.dll
